body {
    background-color: white;
    padding: 20px;
}

h1, h2 {
    color: navy;
}

.done {
    font-size: 18px;
    color: black;
}

.box p.done {
    font-size: 18px;
    color: red;
}

.list li {
    color: blue;
}

.list li.done {
    color: green;
}

p.done {
    font-size: 10px;
    color: black;
}

p {
    font-size: 16px;
    color: black;
}